extends layout

block content
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Social Story Builder
    // Bootstrap Core CSS
    link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/css/story-list.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Short+Stack')
  body
    script(type='text/javascript').
      $(document).on("click", ".openCopyModal", function () {
        $.get( "/api/students", function( data ) {
          console.log(data);
          $(".modal-body #studentCopy").append(function() {
            return $.map(data, function(el, i) {
              return '<option value=' + el._id + '>' + el.name + '</option>';
            });
          });
        });
      });
    .container
      .row
        .col-md-9
          p.lead(style="padding-top: 20px;") Edit Story
          .form-area
            form(role='form', method='post', action='/update-story/#{story._id}')
              .form-group
                input#name.form-control(type='text', name='storyTitle', placeholder='Title', value='#{story.title}')
              .form-group
                textarea#message.form-control(type='textarea', name='descrip', placeholder='Description', rows='7')= story.description
                span.help-block
              .row
                each panel, i in story.panels
                  .col-sm-4.col-lg-4.col-md-4
                    .thumbnail
                      img(src='#{panel.url}', alt='', style="height: 150px; width: 320px; overflow:hidden; position:relative;" )
                      .caption(style="text-align:center;")
                        p= panel.caption
                        p
                          a.btn.btn-default(href='/edit-panel/#{story._id}/#{i}') Edit
                          | &nbsp;
                          | &nbsp;
                          a.btn.btn-default(href='#') Delete
              button.btn.btn-default.openCopyModal(type='button' data-toggle='modal', data-target='#copyModal') Copy
              | &nbsp
              | &nbsp
              button.btn.btn-default.openCopyModal(type='button' data-toggle='modal', data-target='#uploadModal') Upload
              | &nbsp
              | &nbsp
              a.btn.btn-default(href='/stats/#{story._id}', role='button') Stats
              | &nbsp
              | &nbsp
              button#submit.btn.btn-primary(type='submit', name='submit') Done
    #copyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='copyModal')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#copyModal.modal-title Copy Board to Different Student
          .form-area
            form(role='form', method='post', action='/copy-story/'+story._id)
              .modal-body
                .form-group
                  | Assign to student: 
                  select(id='studentCopy' name='studentCopy')
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='submit', name='submit') Copy
    #uploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='copyModal')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#copyModal.modal-title Upload Board to Community
          .form-area
            form(role='form', method='post', action='/upload-story/'+story._id)
              .modal-body
                p Are you sure? This will make the board public so that others can download it.
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='submit', name='submit') Upload