extends layout

block content
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Social Story Builder
    // Bootstrap Core CSS
    link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Short+Stack')
    // Custom CSS
    link(href='/css/story-list.css', rel='stylesheet')
    link(href='http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css', rel='stylesheet')
  body
    script(type='text/javascript').
      $(document).on("click", ".openModal", function () {
        var myStudentName = $(this).data('id');
        $(".modal-body #studentName").val( myStudentName );
        $(".modal-body #oldName").val( myStudentName );
        $(".modal-footer #deleteButton").attr('href', '/delete-student/'+myStudentName)
      });
      //- $(document).on("click", ".list-group-item", function(e) {
      //-   console.log('asdfs');
      //-   $(".list-group-item.active").removeClass("active");
      //-   $(e.target).addClass("active");
      //- });
    .container
      .row
        .col-md-3
          p.lead Students
          .list-group
            each student, i in studentlist
              if student.name==currentStudent
                a.list-group-item.active(style='border-radius: 0px;')
                  | #{student.name} 
                  i.icon-pencil.pull-right(data-toggle='modal', data-target='#studentEditModal' data-id='#{student.name}' class='openModal')
              else
                a.list-group-item(href='/stories/#{student._id}' style='border-radius: 0px;')
                  | #{student.name}
        .col-md-9
          p.lead Social Stories
          .row
            each story, i in storylist
                .col-sm-4.col-lg-4.col-md-4
                  .thumbnail
                    img(src='#{story.panels[0].url}', alt='', style="height: 150px; width: 320px; overflow:hidden; position:relative;" )
                    .caption(style="text-align:center;")
                      h4
                        a(href='/view/' + story._id)= story.title
                      p
                        a#edit.btn.btn-primary(href='/edit-story/#{story._id}') Edit
                        | &nbsp;
                        | &nbsp;
                        a#delete.btn.btn-danger(href='/delete-story/' + story._id) Delete
      #studentEditModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Edit Student
            .form-area
              form(role='form', method='post', action='/edit-student')
                .modal-body
                  .form-group
                    input.form-control(type='text', id='studentName' name='studentName', value ="")
                  .form-group(style='display:none')
                    input.form-control(type='text', id='oldName' name='oldName', value ="")
                .modal-footer
                  a.button.btn.btn-default(type='button', id='deleteButton' href='/delete-student/') Delete
                  button.btn.btn-primary(type='submit', name='submit') Edit  
    .container
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p
    // /.container
    // jQuery
    script(src='/libs/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')