doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title View Story
    // Bootstrap Core CSS
    link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/css/full-slider.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Short+Stack')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/stories') Stories
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Storyboard
        // /.navbar-collapse
      // /.container
    // Full Page Image Background Carousel Header
    header#myCarousel.carousel.slide
      // Indicators
      ol.carousel-indicators
        each panel, i in story.panels
          if i==0
            li.active(data-target='#myCarousel', data-slide-to=i)
          else
            li(data-target='#myCarousel', data-slide-to=i)

      // Wrapper for Slides
      .carousel-inner
        // Loop to go through the story's panels
        each panel, i in story.panels
          if i==0
            .item.active
              .fill(style="background-image:url(#{panel.url});")
              .carousel-caption
                h2 #{panel.caption}
          else
            .item
              .fill(style="background-image:url(#{panel.url});")
              .carousel-caption
                h2 #{panel.caption}

      // Controls
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.icon-next
    // Page Content
    .container
      .row
        .col-lg-12
          h1 #{story.title}
          p #{story.description}
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © Social Story Builder 2015
        // /.row
    // /.container
    // jQuery
    script(src='/libs/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    // Script to Activate the Carousel
    script.
      $('.carousel').carousel({
      interval: 5000 //changes the speed
      })
